
@charset "utf-8";
/* CSS Document */

body {
    background: url('https://i.pinimg.com/736x/c2/03/d8/c203d8173ef5204aac72e848515afb55.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #040405;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#container {
    background: rgba(57, 101, 83, 0.6); 
    border: 1px solid #121613;  
    border-radius: 4px; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

/* ==========================================
   2. NAVIGÁCIA A LIŠTY (NAVBAR & TOPBAR)
   ========================================== */

.topbar {
    background: #121613 !important;
    color: #58A48B !important;
}

.navbar {
    background: #396553 !important;
    border: none !important;
}

.navbar a {
    color: #58A48B !important;
}

.navbar a:hover {
    background: #121613 !important; 
    color: #ffffff !important;        
}

/* ==========================================
   3. PANELY A BOXY (PANELS & BOXES)
   ========================================== */

.panel-heading {
    background: #396553 !important; 
    color: #121613 !important;   
    border-bottom: 2px solid #121613 !important;
}

.panel {
    background: rgba(18, 22, 19, 0.85) !important; 
    border: 1px solid #121613 !important;
}

.panel-body, .table {
    color: #ffffff !important;
}

.table tr:nth-child(even) {
    background: rgba(57, 101, 83, 0.2) !important;
}

/* ==========================================
   4. PROFILOVÉ INFORMÁCIE (USER INFO & AVATAR)
   ========================================= */

.avatar {
    border: 3px solid #061318;
    box-shadow: 0 0 10px rgba(4, 4, 5, 0.5);
}

/* ==========================================
   5. TLAČIDLÁ A ODKAZY (BUTTONS & LINKS)
   ========================================== */

a:link, a:visited {
    color: #061318;
    text-decoration: none;
}

a:hover {
    color: #396553;
    text-shadow: 0px 0px 5px #121613;
}

.btn-primary {
    background: #396553 !important;
    border: 1px solid #061318 !important;
    color: #061318 !important;
}

.btn-primary:hover {
    background: #58A48B !important; 
    color: #121613 !important;
    box-shadow: 0 0 8px #58A48B !important;
}


